body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 250px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imagens/itens-indispensaveis-pedalar-trilhas-mountain-bike-parte-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.main {
    display: flex;
    background-color: #404040;
    flex-direction: column;
    height: 250px;
    width: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
}

.titulo_de_login {
    color: yellowgreen;
}

.class_input {
    padding: 8px;
    border-radius: 4px;
    outline: none;
    background-color: #606060;
    border: none;
    color: white;

}

.class_input::placeholder {
    color: yellowgreen;
  }

.input_error{
    color: red;
    font-style: italic;
    display: none;  
    margin-top: 4px;
} 

.button_entrar{
    background-color: yellowgreen;
    color: white;
    height: 32px;
    border-radius: 8px;
    border: none;
    align-items: center;
    width: 100%;
    
}